html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Bowlby One', cursive;
    font-weight: 300;
    background-color: #24A2E5;
    transition: background-color .5s ease;
    padding: 100px;
}

h1 {
    color: #000000;
}

p {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1.05rem;
}

a {
    font-weight: 600;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1.05rem;
    color: #3251C3;
}